@import "components/variables";
@import "components/mixins";
//@import "components/global.scss";
//@import "components/auth.scss";
//@import "components/registration.scss";
@import "components/fonts";
//@import "components/header";
//@import "components/menu";
@import "components/calc";
@import "components/rangeslider";
@import "components/calc-slider";
@import "components/esia-btn";
@import "components/pay-system";
@import "components/pay-without-entering";
@import "components/review";
@import "components/more-products";
@import "components/mobile";
@import "components/advantages-company";
//@import "components/footer";
//@import "components/footer-other-page";
//@import "components/header-menu";
//@import "components/registration";
//@import "components/registration/step3";
//@import "components/registration/step4";
//@import "components/registration/step5";
//@import "components/registration/step6";
//@import "components/registration/step1";
//@import "components/registration/step2";
//@import "components/registration/final-step";
@import "components/restore";
//@import "components/cabinet";

.overlay {
  overflow: hidden;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 2;

  }
}

.input-range__track--active {
  height: 5px;
  background-color: red;
}

.input-range__track--background {
  height: 5px;
  background-color: green;
}


.test {
  position: absolute;
  left: 20px;
  top: 100px;
}

.props {
  position: absolute;
  right: 20px;
  top: 100px;
  width: 500px;
}

 body {
   background-color: rebeccapurple;
 }
