@import "../variables";
@import "../mixins";
.registration-final-step {
  @include flexCenter;
  width: 100%;

  &__wrapper {
    width: 100%;
    @include flexCenter;
    padding: 30px;
  }

  &__title {
    margin-bottom: $baseMargin - 10;
    text-align: center;

    &-text {
      margin-bottom: $baseMargin * 1.5;
      text-align: center;
    }
  }

  &__image-wrapper {
    width: 100px;
    margin-bottom: $baseMargin - 10;
  }

  &__form {
    &-title {
      margin-bottom: $baseMargin;
    }
    @include wrapperInput;
    @include textField;
    @include errorInput;

    &-btn-submit {
      @include link-btn;
    }
  }
}
