@import "../variables";
@import "../mixins";
.registration-step6 {
  @include flexCenter;
  width: 100%;

  &__title {
    text-align: center;
    font-size: 24px;
  }

  &__wrapper {
    @include flexCenter;
    width: 100%;
    max-width: 500px;
  }

  &__form {
    width: 100%;
    padding: 0 30px;
    margin: 30px 0;
    @include wrapperInput;
    @include errorInput;
    &-drop-area {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 0;
      background-color: transparent;
    }

    &-title {
      text-align: center;
      line-height: 20px;
      margin-bottom: $baseMargin - 10;
    }

    &-code {
      @include robotoLight;
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      color: $black;
    }

    &-sample {
      &-photo {
        text-align: center;
        margin-bottom: $baseMargin - 10;
      }

      &-link {
        color: $selectHover;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;

    }

    &-input-error {
      @include robotoRegular;
      font-size: 11px;
      line-height: 14px;
      color: $errorColor;
    }


    @include fileInput;
  }

  &__btn-submit {
    @include link-btn;
    width: 100%;
    margin-bottom: $baseMargin + 10;
    outline: none;
  }
  .drag-enter {
    transform: scale(1.3);
  }
  .drag-end {
    border: 3px solid rebeccapurple;
  }
}

@media (min-width: 600px) {
  .registration-step2 {
    &__title {
      width: 100%;
      font-size: 36px;
      margin-top: 70px;
    }

    &__form {
      @include blockShadow;
    }
  }
}
@media (min-width: 1024px) {
  .registration-step6 {
    &__title {
      width: 100%;
      font-size: 36px;
      margin-top: 70px;
    }
    &__wrapper {
      @include flexCenter;
      width: 100%;
      max-width: 800px;
      padding: 0 60px;
    }

    &__form {
      width: 100%;
      padding: 0 20px;
      //margin: 30px 0;
      //@include wrapperInput;
      //@include errorInput;
      &-drop-area {
        width: 100%;
        height: 170px;
        position: absolute;
        top: 0;
        background-color: transparent;
      }

      //&-title {
      //  text-align: center;
      //  line-height: 20px;
      //  margin-bottom: $baseMargin - 10;
      //}

      //&-code {
      //  @include robotoLight;
      //  font-size: 48px;
      //  line-height: 52px;
      //  text-align: center;
      //  color: $black;
      //}

      //&-sample {
      //  &-photo {
      //    text-align: center;
      //    margin-bottom: $baseMargin - 10;
      //  }
      //
      //  &-link {
      //    color: $selectHover;
      //  }
      //}

      //&-wrapper {
      //  display: flex;
      //  justify-content: space-between;
      //  padding-bottom: 60px;
      //
      //}
      //
      //&-input-error {
      //  @include robotoRegular;
      //  font-size: 11px;
      //  line-height: 14px;
      //  color: $errorColor;
      //}

      &-field-wrapper {
        //position: relative;
        width: 170px;
        height: 170px;
        z-index: 2;
        background-color: transparent;
        //background-color: #f2f2f2;
        //border: 1px dashed $borderLight;
        //border-radius: 5px;
        //padding: 0;

        //&::before,
        //&::after {
        //  position: absolute;
        //  content: "";
        //  width: 20px;
        //  height: 1px;
        //  background-color: $borderLight;
        //  top: 50%;
        //  left: 50%;
        //  transform: translate(-50%, -50%);
        //}

        //&::before {
        //}
        //
        &::after {
          left: 44%;
        }

        //&--error {
        //  border: 1px solid $errorColor;
        //  background: none;
        //  &::before,
        //  &::after {
        //    content: none;
        //  }
        //}
      }

      &-file {
        &-wrapper {
          width: 160px;
        }
      //
      //  &-input {
      //    display: none;
      //  }
      //
        &-label {
          z-index: 5;
      //    width: 100%;
      //    height: 100%;
      //    display: block;
      //
      //    & span {
      //      position: absolute;
      //      @include robotoRegular;
      //      font-size: 11px;
      //      line-height: 14px;
      //      bottom: -40px;
      //    }
        }
      }

      &-img-loaded {
        //position: absolute;
        //top: 0;
        width: 170px;
        height: 170px;
        z-index: 0;
      }
    }
  }
}



