@import "../variables";
@import "../mixins";
.registration-step5 {
  @include flexCenter;
  width: 100%;
  //height:  calc(#{$baseBlockHeight} - (#{$otherFooterPage} * 2));

  &__card {
    &-list {
      list-style: none;
    }

    &-item {
      display: flex;
    }

    &-title {
      @include robotoRegular;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: $baseMargin - 20;

      &--disabled {
        opacity: 0.6;
      }
    }
  }

  &__wrapper {
    @include flexCenter;
    width: 100%;
    max-width: 500px;
  }

  &__form {
    width: 100%;
    padding: 0 60px;
    margin: 30px 0;
    @include wrapperInput;
    @include textField;
    @include errorInput;

    &-text {
      &-label {
        color: $selectHover;
      }

      &-input:disabled {
        opacity: 0.6;

        & + label {
          opacity: 0.6;
        }
      }
    }

    &-date-wrapper {
      display: flex;

      & .separator-disabled {
        opacity: 0.6;
      }

      & span {
        padding: 16px 0;
      }

      & label {
        color: $textGray;
      }

      .registration-step5__form-text-wrapper {
        width: 50px;
        margin-right: 20px;

        &:nth-of-type(2) {
          margin-left: 20px;
        }
      }
    }

    &-field {
      &-wrapper {
        border: none;
        border-bottom: 1px solid $borderColor;
        border-radius: 0;
      }
    }

    &-radio {
      @include radioButton;
    }

    &-radio-label {
      @include radioLabel;
    }

    &-radio-input:checked + label {
      @include radioButtonChecked;
    }

    &-info {
      margin-bottom: $baseMargin - 10;
    }
  }

  &__btn-submit {
    @include link-btn;
    width: 100%;
    margin-bottom: $baseMargin + 10;
    outline: none;
  }
}

@media (min-width: 600px) {
  .registration-step2 {
    &__title {
      width: 100%;
      font-size: 36px;
      margin-top: 70px;
    }

    &__form {
      @include blockShadow;
    }
  }
}
