@import "../variables";
@import "../mixins";

.acceptance-offer {
  &__wrapper {
    width: 100%;
    z-index: 3;
    max-width: 500px;
    margin-top: $baseMargin;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 200px;
    }
  }

  &__summ {
    &-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: $baseMargin;
      margin-bottom: $baseMargin;
      position: relative;
      padding-bottom: 20px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -10px;
        background-color: $borderColor;
      }
    }
    @include robotoRegular;
    font-size: 36px;
    color: $black;
    margin-bottom: 10px;

    & svg {
      width: 14px;
    }

    &-text {
      font-size: 16px;
      color: $textGray;
    }
  }
  &__phone-text {
    margin-bottom: $baseMargin;
  }
  &__resent-code {
    margin-bottom: $baseMargin;
  }

  &__title {
    text-align: center;
    font-size: 24px;
  }
  &__btn {
    &-resent,
    &-refuse {
      @include think-btn;
    }
    &-resent {
      margin-bottom: $baseMargin;
    }
  }

  &__form {
    margin-top: 40px;
    width: 100%;
    padding: 40px 0 40px 0;
    @include wrapperInput;
    @include textField;
    @include errorInput;
    @include checkboxButton;
    &-checkbox-wrapper {
      margin-top: $baseMargin;
    }
  }

  &__btn-submit {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: $baseMargin;
    }

    @include link-btn;
    width: 100%;
    outline: none;
  }
}

@media (min-width: 1024px) {
  .acceptance-offer {
    &__wrapper {
      @include blockShadow;
      padding: 40px;
    }

    &__btn-submit {
      max-width: 300px;
    }
  }
}
