@import "../variables";
@import "../mixins";

.appeal {
  &__wrapper {
    @include blockShadow;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-bottom: 40px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $borderColor;
      bottom: 20px;
    }

    &-title {
      @include robotoBold;
      color: #005193;
    }

    &-date,
    &-status,
    &-text {
      @include robotoThin;
      color: $textContent;
    }

    &-wrapper {
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn-more {
    @include link-btn;
  }

  &__form {
    margin-top: $baseMargin * 2;
    @include blockShadow;
    padding: 40px 60px;

    &-title {
      margin-bottom: $baseMargin;
    }
    &-select {
      @include select;
    }

      @include textArea;
    &-addfile-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &-file-wrapper {
      margin-right: $baseMargin;
      margin-bottom: $baseMargin;
    }
    &-img-loaded {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 0;
    }

    &-field-wrapper {
      position: relative;
      width: 60px;
      height: 60px;
      background-color: #f2f2f2;
      border: 1px dashed $borderLight;
      border-radius: 5px;
      padding: 0;

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 1px;
        background-color: $borderLight;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
      }

      &::after {
        transform: rotate(90deg);
        left: 34%;
      }

      &--error {
        border: 1px solid $errorColor;
        background: none;
        &::before,
        &::after {
          content: none;
        }
      }
    }
    &-drop-area {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 0;
      background-color: transparent;
    }
    &-file {
      &-wrapper {
        position: relative;
      }

      &-input {
        display: none;
      }

      &-label {
        width: 100%;
        height: 100%;
        display: block;

        & span {
          position: absolute;
          @include robotoRegular;
          font-size: 11px;
          line-height: 14px;
          bottom: -40px;
        }
      }
    }


  }
}
