@import "../variables";
@import "../mixins";
@import "../global";

.cabinet {
  padding-top: 40px;
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;

  }
  &__menu {
    &-list {
      list-style: none;
      padding: 0;
      position: relative;
      &:nth-of-type(2) {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $borderColor;
        }
      }
    }
    &-item {
      display: flex;
      padding: 10px 0 10px 60px;

      &--active {
        background-color: #aedbff;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        .cabinet__menu-item-img {
          & svg {
            fill: #005395;
          }
        }
      }
      &-img {
        width: 30px;
        & svg {
          fill: #767676;
        }
      }
      &-btn {
        &-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        //@include btn;
        border: none;
        background: none;
        font-size: 14px;
        white-space: nowrap;
        width: 200%;
        text-align: left;
        outline: none;
      }
    }
  }
  &__view {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
