@import "../variables";
@import "../mixins";

.change-password {
  width: 100%;
  z-index: 3;
  max-width: 500px;

  &__title {
    text-align: center;
    font-size: 24px;
  }

  &__form {
    margin-top: 40px;
    width: 100%;
    padding: 40px 0 40px 0;
    @include wrapperInput;
    @include textField;
    @include errorInput;
  }
  &__btn-submit {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
    @include link-btn;
    width: 100%;
    outline: none;
  }
}
@media (min-width: 1024px) {
  .change-password {
    &__form {
      @include blockShadow;
      padding: 40px;
    }
    &__btn-submit {
      max-width: 300px;
    }
  }
}
