@import "../variables";
@import "../mixins";

.user-loan {
  @include flexCenter;

  &__wrapper {
    padding: 40px;
    max-width: 500px;
  }

  &__img {
    &-wrapper {
      @include flexCenter;

      & svg {
        width: 140px;
        height: 140px;
      }
    }
  }

  &__sum {
    @include robotoMedium;
    font-size: 40px;
    color: $textContent;
    margin: 40px 0 0 0;

    &-wrapper {
      @include flexCenter;
    }

    &-text {
      @include robotoRegular;
      margin-top: 5px;
      font-size: 11px;
      color: $textContent;
    }
  }

  &__application {
    @include robotoRegular;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: $textContent;
  }

  &__return {
    &-sum {
      @include robotoRegular;
      text-align: center;
      font-size: 11px;
      margin-top: 5px;
      color: $textContent;
    }
  }

  &__text {
    @include robotoRegular;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $textContent;
  }

  &__actual-title {
    margin: 40px 0 30px 0;
    @include robotoRegular;
    text-align: center;
    color: $textContent;
    font-size: 20px;
  }

  &__update-form {
    @include wrapperInput;
    @include textField;
    @include errorInput;
    @include blockShadow;
    &-select {
      @include select;
    }
    &-radio {
      @include radioButton;
    }
    &-radio-label {
      @include radioLabel;
    }
    @include fileInput;

    &-radio-input:checked + label {
      @include radioButtonChecked;
    }
    padding: 20px 40px 40px 40px;
    margin-top: $baseMargin;
    &-title {
      font-size: 16px;
      margin-bottom:$baseMargin;
    }
  }

  &__btn-submit {
    @include link-btn;
    width: 100%;
    margin-bottom: $baseMargin + 10;
    outline: none;

  }


  &__radio-wrapper {
    display: flex;
    justify-content: flex-start;
    & label:nth-of-type(1) {
      margin-right: $baseMargin;
    }
  }
  &__doc-wrapper {
    display: flex;
    justify-content: space-between;
    margin : $baseMargin 0 $baseMargin + 20 0;
  }

}
