.advantages-company {
  padding: 0 30px;
  margin-top: 40px;
  margin-bottom: 30px;

  &__title {
    text-align: center;
    color: $black;
  }
  &__list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-top: 20px;
    &-title {
      color: $black;

    }
    &-content {
      margin-top: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .advantages-company {
    padding: 0 30px;
    margin-top: 40px;
    margin-bottom: 30px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      max-width: 400px;
    }
  }
}
