@import "./variables";
@import "./mixins";

.auth {
  padding-top: 35px;

  &__wrapper {
    @include flexCenter;
  }

  &__title {
    @include robotoLight;
    font-size: 26px;
    letter-spacing: 0.02em;
    color: $black;
    text-align: center;
    padding: 0 30px;

    &-text {
      margin-top: 20px;
      @include robotoLight;

      & span {
        color: $black;
      }
    }
  }

  &__form {
    &-title {
      margin-bottom: $baseMargin - 10;
    }

    @include wrapperInput;
    @include textField;
    @include errorInput;

    &-wrapper {
      margin-top: 15px;
      width: 100%;
      max-width: 500px;
      //@include blockShadow;
      display: flex;
      flex-direction: column;
      padding: 0 30px;
    }
  }

  &__btn {
    &-submit {
      @include link-btn;
    }

    &-restore {
      @include think-btn;
      align-self: flex-start;
      margin-top: 30px;
      outline: none;
    }
  }
}

@media (min-width: 600px) {
  .auth {
    padding-top: 65px;

    &__title {
      font-size: 35px;
    }

    &__form {
      &-wrapper {
        @include blockShadow;
        margin-top: $baseMargin * 2;
        padding: 60px;
      }
    }
  }
}
