@import "./variables";
@import "./mixins";
@import "/global";
.calc {
  background-color: #f7f7f7;
}

.calc__range-day-input {
  position: absolute;
  top: 0;
}

.calc {
  position: relative;
  padding: 0 20px;
  padding-bottom: 20px;
  padding-top: 60px;

  &__wrapper {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 320px;
  }

  &__range-wrapper {
    position: relative;
    margin-top: 23px;
    margin-bottom: 37px;

  }

  &__title {
    @include robotoThin;
    font-weight: 200;
    font-size: 38px;
    padding-top: 3px;
    letter-spacing: 0.02em;
    text-align: center;
    color: $black;

    &-text {
      margin-top: 36px;
      padding: 0 10px;
      text-align: center;
      @include robotoRegular;
      letter-spacing: 0.04em;
      line-height: 21px;
    }
  }

  &__range {
    &-slider {
      &-wrapper {
        margin-top: 48px;
      }
    }

    &-summ,
    &-day {
      &-input {
        width: 100%;
        position: absolute;
        top: 0;

        &-div {
          height: 2px;
          background-color: #3599e7;
          z-index: 2;
        }
      }
    }
  }

  &__range-summ,
  &__range-day {
    text-align: center;
    @include robotoThin;
    font-weight: 200;
  }

  &__range-summ {
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-top: 30px;
    //margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.04em;

    & svg {
      width: 13px;
      margin-left: 5px;
    }
  }
  &__promocode-text-input {
    @include robotoRegular;
    border: transparent;
    background-color: transparent;
    outline: none;
    padding: 0 0 0 5px;
    color: $textGray;
    text-overflow: ellipsis;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;

    &::-webkit-input-placeholder {
      color: $textGray;
      font-size: 18px;
    }

    &-field-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-top: 40px;
      width: 100%;
      //padding-left: 40px;
      //padding-right: 40px;
    }
  }

  &__output {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 23px;
    &__output-description,
    &__output-value {
      @include robotoThin;
      letter-spacing: 0.02em;
      font-size: 16px;

    }

    &-item {
      & p {
        & svg {
          width: 13px;
          height: 13px;
        }
      }
      display: flex;
      justify-content: space-between;

      &:not(:nth-last-of-type(1)) {
        margin-bottom: 8px;
      }
    }
  }

  &__take-loan-btn {
    @include link-btn;
    text-align: center;
    display: block;
    margin-top: 30px;
  }


  &__esia-icon {
    width: 40px;
    margin-left: 10px;
  }

  &__footnote {
    display: none;
  }
}
@media(min-width: 1024px) {
  .calc {
    //background:  url("/static/images/index-calc-background.png") no-repeat 124% -20%, linear-gradient( to right, #f7f7f7 30%,  transparent 100% );
    background:  url("/static/images/index-calc-background.webp") no-repeat 124% -20%, linear-gradient( to right, #f7f7f7 30%,  transparent 100% );
    background-size: initial;
    padding-top: 120px;
    &__title {
      font-size: 70px;
      line-height: 72px;
      &-text {
        max-width: 450px;
        margin: 30px auto 0;
        font-size: 16px;
      }
    }
    &__range-summ,
    &__range-input,
    &__promocode-input,
    &__output-description,
    &__output-value {
      font-family: "Roboto-Regular", "Arial", sans-serif;
    }
    &__footnote {
      @include robotoRegular;
      display: block;
      transform: rotate(-90deg);
      position: absolute;
      left: -11%;
      bottom: 25%;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: #bebebe;
    }

    &__take-loan-btn {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media(min-width: 1366px) {
  .calc {
    background-position: 100% 150%;
    &__wrapper {
      max-width: 405px;
    }
  }
}
