.esia-btn {
  display: block;
  &__wrapper {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    @include robotoRegular;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #1f7bc6;
  }
  &__svg {
    width: 28px;
    margin-left: 15px;
  }
}

.svg-word1 {
  fill: #1466AC;
}

.svg-word2 {
  fill: #EF4058;
}
