@import "./variables";
@import "./mixins";

.footer {
  &__wrapper {
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    background-color: #e9e9e9;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
      cursor: pointer;
      color: $black;
      outline: none;
      margin-bottom: 20px;
      text-align: center;
    }

    &:nth-of-type(1) {
      margin-top: 30px;
    }
    &-info {
      width: 100%;
      text-align: center;
      position: relative;
      padding: 30px 0;
      &::before {
        position: absolute;
        content: "";
        width: calc(100% + 20%);
        height: 1px;
        top: -10px;
        left: -10%;
        background-color: #e9e9e9;
      }
      &-text {
        font-size: 14px;
        text-align: center;
        padding: 0 40px;
        text-transform: uppercase;
        line-height: 20px;
      }
    }
  }

  &__logo-wrapper {
    width: 120px;

    & a {
      color: transparent;
    }

  }

  &__list {
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    &-menu {
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-link {
      color: $textGray;
      text-align: center;
    }
  }

  &__social {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0;
    }

    &-link {
      width: 60px;
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
    }

    &__item {
      flex-direction: row;

      &-link {
        text-align: left;
      }
    }

    &__block {
      align-items: flex-start;
      width: 300px;

      &-menu {
        width: 300px;
      }

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &-title {
        text-align: left;
      }

      &-text {
        text-align: left;
        margin-top: 10px;

        &::before {
          content: none;
        }
      }
    }

    &__list-menu {
      padding: 0;
    }

    //&__social-list {
    //  display: none;
    //}
  }
}
