* p {
  margin: 0;
}

* svg {
  width: 100%;
  //height: 100%;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

}

* a,
* p,
* h1,
* h2,
* h3,
* h4,
* h5,
* ul,
* button {
  //@include robotoRegular;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
