@import "./variables";
@import "./mixins";

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  //margin-top: 100px;
  overflow: hidden;


  &__wrapper {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  &__logo-wrapper {
    width: 100px;
  }

  &__user-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 40px 0;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
      background-color: #e5e5e5;
      width: 100%;
      height: 1px;
      left: 0;

    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }

  &__user-item {
    &-img {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #e5e5e5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      & svg {
        width: 30px;
      }
    }

    &-text {
      @include robotoRegular;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      //padding: 0 30px;
    }
  }

  &__contact-telephone {
    display: block;
  }

  &__list {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
  }

  &__block {
    //&:not(:nth-last-of-type(1)) {
    margin-bottom: 10px;
    //}

    &-title {
      @include robotoThin;
      color: #005193;
      outline: none;
      margin-bottom: $baseMargin - 15;
    }
  }

  &__item {
    &:not(:nth-last-of-type(1)) {
      margin-bottom: 5px;
    }

    &-link {
      @include robotoLight;
      color: #005193;
    }
  }

  & .selected {
    color: $black;
  }

  &__contact {
    &-wrapper {

      margin-top: auto;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-color: #e5e5e5;
        width: 100%;
        height: 1px;
        left: 0;
        top: 15px;
      }
    }

    &-telephone {
      margin-top: 40px;
      @include robotoLight;
      color: #005193;
      font-size: 26px;
      line-height: 36px;
    }

    &-text {
      font-size: 14px;
    }
  }

  &__block-title {
    //@include robotoLight;
    color: #005193;
  }

  &__list-menu {
    list-style: none;
  }
}

@media (min-width: 600px) {
  .header-menu {
    width: 400px;
    height: auto;
    right: 50px;
    left: auto;

    &__btn-wrapper {
      margin: 0 0 0 20px;
      width: 30px;
    }
  }
}
