@import "./variables";
@import "./mixins";
@import "/global";
.header {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #f7f7f7;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 17px 30px 15px 30px;
    //margin-top: 27px;
  }

  &__logo-wrapper {
    width: 93px;
    justify-content: center;
    align-items: flex-start;

  }

  &__user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


    & svg {
      fill: #858584;
      width: 40px;
      margin-right: 10px;
    }
  }

  &__phone-wrapper {
    display: none;

    & svg {
      fill: #005193;
      width: 10px;
      margin-right: 10px;
    }
  }

  &__pa-link-wrapper {
    display: none;

    & svg {
      fill: #4d4d4d;
      width: 10px;
      margin-right: 10px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-menu {
    &__btn {
      border: none;
      background: none;
      outline: none;
      position: absolute;
      right: 40px;
      width: 25px;
      height: 25px;

      &-wrapper {
        margin-top: 5px;
      }

      & span {
        display: block;
        top: 10px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #656565;
        transition-duration: 0.1s, 0.1s;
        transition-property: background-color, transform;
      }

      & span::after,
      & span::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #656565;
        left: 0;
      }

      & span::after {
        top: -10px;
        transition-delay: 0.3s, 0;
        transition-duration: 0.3s, 0.3s;
        transition-property: top, transform;
      }

      & span::before {
        top: 10px;
        transition-delay: 0.3s, 0;
        transition-duration: 0.3s, 0.3s;
        transition-property: top, transform;
      }

      &--active {
        z-index: 5;

        & span {
          background-color: transparent;
          transition: all 0.1s linear;

          &::after {
            top: 0;
            transition-property: top, transform;
            transform: rotate(45deg);

          }

          &::before {
            top: 0;
            transition-property: top, transform;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {

    &__wrapper {
      padding: 15px 100px 15px 100px;
      margin: 0;
    }

    &-menu {
      &__btn {
        right: 100px;
      }
    }

    &__phone {
      color: #005193;

      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
      }
    }

    &__pa-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #4d4d4d;
      margin-right: 70px;

      &-wrapper {
        width: 80px;
      }
    }

    &__action-wrapper {

      display: flex;
    }
  }
}
