.mobile {
  margin-top: 40px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    @include robotoRegular;
    text-align: center;
    color: $black;
    margin-bottom: 30px;

    & span {
      color: #005192;
    }
  }

  &__link {
    display: none;
  }

  &__app {
    &-list-qr {
      display: none;
    }

    &-list {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }

    &-image-wrapper {
      width: 120px;

      & svg {

      }
    }

    &-download {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      &-counter {
        @include robotoLight;
        font-size: 28px;
      }

      &-text {
        @include robotoLight;
        margin-top: 10px;
        font-size: 16px;
      }
    }

    &-advantages {
      &-title {
        text-align: left;
        margin-top: 20px;
      }

      &-list {
        padding: 0;
        list-style: none;
        margin-top: 20px;
      }

      &-item {
        padding-left: 30px;
        position: relative;

        &:not(:nth-last-of-type(1)) {
          margin-bottom: 20px;
        }

        & p {
          color: $black;
        }

        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 2px;
          background-color: $black;
          top: 15px;
          left: 0;
        }

        &::after {
          transform: rotate(-45deg);
          width: 12px;
          top: 13px;
          left: 2px;
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }

    &-learn-more-btn {
      @include link-btn;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .mobile {
   &__wrapper {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }

    &__app {
      margin-left: $baseMargin;
      &-image {
        &-wrapper {
          display: none;
        }
      }
      &-download {
        &-counter {
          font-size: 42px;
        }
      }
      &-advantages {
        &-title {
          margin-top: 120px;
          font-size: 28px;
        }
        &-item {
          &-text {
            color: #6e6e6e;
          }
        }
      }
      &-learn-more-btn {
        margin-top: 180px;
        width: 200px;
      }
    }
    &__link {
      display: flex;

      &-wrapper {
        width: 280px;
        &:nth-of-type(1) {
          margin-right: $baseMargin;
        }

        & svg {
          width: 400px;
          height:600px;
          stroke: #d2d2d2;
        }
      }
    }
  }
}
