.more-products {
  margin-top: 40px;

  &__title {
    @include robotoRegular;
    color: $black;
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 30px;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 20px;
    }
  }

  &__item-wrapper {
    width: 50px;
    margin-right: 20px;
    flex-shrink: 0;

    & svg {
      .cr-rei-ico,
      .loa-pts,
      .card-tran {
        &__st0 {
          fill: #358CD3;
        }
      }

      .cr-rei-ico,
      .loa-pts,
      .card-tran {
        &__st1 {
          fill: #036FC8;
        }
      }

      .cr-rei-ico,
      .loa-pts,
      .card-tran {
        &__st2 {
          fill: none;
          stroke: #FFFFFF;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .more-products {
    &__list {
      flex-direction: row;
      justify-content: space-around;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 200px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 20px;

      &:hover {
        border-color: transparent;
        box-shadow: -2px 4px 20px 1px #cccccc;

        & p {
          color: #A9D88E;
        }

        & svg {
          .cr-rei-ico,
          .loa-pts,
          .card-tran {
            &__st0 {
              fill: #A9D88E;
            }
          }

          .cr-rei-ico,
          .loa-pts,
          .card-tran {
            &__st1 {
              fill: #70BE43;
            }
          }

          .cr-rei-ico,
          .loa-pts,
          .card-tran {
            &__st2 {
              fill: none;
              stroke: #FFFFFF;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }
          }
        }
      }

      &-wrapper {
        width: 80px;
        margin: 0;
        margin-bottom: $baseMargin;
      }

      &-text {
        text-align: center;
        color: #358CD3;
      }
    }

  }
}
