.pay-system {
  margin-top: $baseMargin;
  &__title {
    @include robotoRegular;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    color: $black;
    font-size: 20px;
  }

  &__list {
    margin-top: $baseMargin;
    list-style: none;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__image-wrapper {
    width: 80px;
     & svg {
       //height: 60px;
     }
  }
}
@media (min-width: 1024px) {
  .pay-system {
    &__title {
      width: 100%;
      text-align: center;
    }
  }
}
