.pay-without-entering {
  padding-bottom: 30px;
  background-color: #f7f7f7;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    &-title {
      margin-top: 20px;
      color: $black;
      text-align: center;
    }

    &-text {
      &-input {
        background-color: transparent;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;

        &::-webkit-input-placeholder {
          color: $black;
          text-align: center;
          font-size: 16px;
        }
      }
      &-wrapper {
        margin-top: 30px;
        width: 100%;
      }
    }

    &-btn-pay {
      margin-top: 30px;
      width: 100%;
      @include link-btn;
    }
  }
}

@media (min-width: 1024px) {
  .pay-without-entering {

    padding-bottom: 0;
    &__wrapper {
      display: flex;
      padding: 0;
      //max-width: 1366px;
      //margin: 0 auto;
    }

    &__image-wrapper {
      width: 100%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &__form {
      height: auto;
      order: -1;
      width: 100%;
      padding: 0 10%;
    }
  }

}
