@import "./variables";
@import "./mixins";

.restore {
  padding-top: 35px;

  &__wrapper {
    @include flexCenter;
  }

  &__title {
    @include robotoLight;
    font-size: 26px;
    letter-spacing: 0.02em;
    color: $black;
    text-align: center;
    padding: 0 30px;

    &-text {
      margin-top: 20px;
      @include robotoLight;

      & span {
        color: $black;
      }
    }
  }

  &__form {
    &-wrapper {
      padding: 0 30px;
    }

    &-title {
      margin-bottom: $baseMargin - 10;
      margin-top: 20px;
      @include robotoLight;
      color: $textGray;
      padding: 0 30px;
      font-size: 14px;
      line-height: 18px;
    }

    @include wrapperInput;
    @include textField;
    @include errorInput;
  }

  &__btn {
    &-submit {
      @include link-btn;
    }

    &-restore {
      @include think-btn;
      align-self: flex-start;
      margin-top: 30px;
      outline: none;
    }
  }
}

@media (min-width: 600px) {
  .restore {
    &__title {
      font-size: 35px;
    }

    &__form {
      &-wrapper {
        padding: 60px;
        margin-top: $baseMargin * 2;
        @include blockShadow;
      }
    }
  }
}
