@import "./variables";
@import "./mixins";

.site-structure {
  $color: #1f79c5;

  &__title {
    @include robotoThin;
    color: $black;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
    margin-top: $baseMargin;
  }

  &__list {
    list-style: none;

    &-main {
      list-style: none;
    }

    & .site-structure__item:nth-last-of-type(1) {
      &::before {
        height: 100%;
        top: -50%;
      }
    }
  }

  &__item {
    &-main {
      & > *:first-child {
        font-size: 22px;
      }
    }

    padding: 20px 0;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-color: #b3b3b3;
      width: 10%;
    }

    &::before {
      left: -30px;
      top: 0;
      width: 1px;
      height: 100%;
    }

    &::after {
      top: 50%;
      left: -30px;
      width: 20px;
      height: 1px;
    }

    &-link {
      color: $color;
    }
  }
}
@media (min-width: 1024px) {
  .site-structure {
    padding-left: 100px;
  }
}
