$white: #ffffff;
$textGray: #767676;
$textContent: #48494d;
$black: #000000;
$lowBlue: #207ac6;
$errorColor: #de3e3e;
$borderColor: #b3b3b3;
$radioColor: #217cc5;
$baseMargin: 30px;
$selectHover: #0984e3;
$baseBlockHeight: 100vh;
$otherFooterPage: 130px;
$blockHeight: calc(#{$baseBlockHeight} - (#{$otherFooterPage} * 2));
$borderLight: #cbcbcb;
